// bower:scss
// endbower

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.toggle-wrap {

	> .host {
		display: none;
	}

	&.host {
		> .host {
			display: block;
		}
		> .not-host {
			display: none;
		}
	}
}

.modal-dialog.connecting{
	.toggle-hosting, .toggle-wrap {
		display: none;
	}

	.toggle-wrap.host {
		display: block;
	}

	#modal-okay {
		pointer-events: none;
		opacity: 0.5;
	}
}
