// bower:scss
// endbower

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.toggle-wrap {

	> .host {
		display: none;
	}

	&.host {
		> .host {
			display: block;
		}
		> .not-host {
			display: none;
		}
	}
}
